---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<style>
.pubs-journal ul, .pubs-conf ul { padding-left: 0; }
.pubs-journal li, .pubs-conf li { list-style: none; margin-left: 1.5em; text-indent: -1.5em; }
.pubs-journal li::before, .pubs-conf li::before { content: "- "; margin-right: 0.5em; }
</style>

{% capture ja_md %}{% include publications/journal_articles.md %}{% endcapture %}
<div class="pubs-journal">
  {{ ja_md | markdownify }}
</div>

{% capture cp_md %}{% include publications/conference_papers.md %}{% endcapture %}
<div class="pubs-conf">
  {{ cp_md | markdownify }}
</div>



